%h2 GA people
- if can? :manage, @user
  =link_to "Add a new user", new_user_path(@user)
%p
- for user in @users
  %h3= link_to "#{user.first_name} #{user.last_name}", user
  %p
  Role:
  = user.role
  %p
  Email:
  = user.email
  %p
  Mobile:
  = user.mobile
  - if can? :manage, @user
    %p ICE mobile
    = user.ice_mobile
