%h3= "#{@user.first_name} #{@user.last_name}"
- if can? :manage, @user
  =link_to "Delete this user", @user, :confirm => 'Are you sure?', :method => :delete 
- if can? :manage, @user
  =link_to "Edit this user", edit_user_path(@user)


%p
Role:
= @user.role
%p
Email:
= @user.email
%p 
Mobile:
= @user.mobile
- if can? :manage, @user
  %p
  ICE mobile:
  = @user.ice_mobile
%hr
%h4 Attending these courses:
- @user.courses.each do |course|
  %h4= link_to course.title, course