%h2.h2 Upcoming courses
- if can? :manage, @course
  =link_to "Add a new course", new_course_path(@course)

- for course in @courses
  %h3= link_to course.title, course
  %p 
  Short Description:
  = course.short_desc
  %p
  Cost: £
  =course.cost
  %p
  Start Date:
  = course.start_date
  %p
  End Date:
  = course.end_date
  %p
  Start Time (each day):
  = course.start_time
  %p
  End Time (each day):
  = course.end_time

