%h1= @course.title
%p Short Description
= @course.short_desc
%p Long Description
= @course.long_desc
%p Cost
= @course.cost
%p Start Date
= @course.start_date
%p End Date
= @course.end_date
%p Start Time (each day)
= @course.start_time
%p End Time (each day)
= @course.end_time