%h1= @course.title
- if can? :manage, @course
  =link_to "Delete this course", @course, :confirm => 'Are you sure?', :method => :delete 
- if can? :manage, @course
  =link_to "Edit this course", edit_course_path(@course)
%p 
Short Description
= @course.short_desc

%p 
Long Description
= @course.long_desc

%p
Cost:
= @course.cost

%p
Room:
= @course.room.name

%p
Start Date
= @course.start_date

%p
End Date
= @course.end_date

%p
Start Time (each day)
= @course.start_time_full

%p
End Time (each day)
= @course.end_time_full

%p
= link_to "Apply to this course", apply_path(@course)
%h3 Users signed up to this course
- @course.users.each do |user|
  %h3= link_to user.full_name, user