%h3= @course.title
- if can? :manage, @course
  =link_to "Delete this course", @course, :confirm => 'Are you sure?', :method => :delete 
- if can? :manage, @course
  =link_to "Edit this course", edit_course_path(@course)
%p 
Short Description:
= @course.short_desc

%p 
Long Description:
= @course.long_desc

%p
Cost:
= @course.cost

%p
Room:
= @course.room.name

%p
Start Date:
= @course.start_date

%p
End Date:
= @course.end_date

%p
Start Time (each day):
= @course.start_time_full

%p
End Time (each day):
= @course.end_time_full

%p
-if current_user.present?
  = link_to "Apply to this course", apply_path(@course)
-else
  = link_to "Sign up as a user to apply", new_user_path
%hr
%h4 Users signed up to this course
- @course.users.each do |user|
  %h4= link_to user.full_name, user